.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.home__title {
    margin: 20px;
    display: flex;
    justify-content: center;
    }

.home__logo {
    display: flex;
    justify-content: center;
    }

.home__img {
    width: 50%;
    }
