.home {
    font-family: 'MedievalSharp', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0EBE3;
  }
  
.home__title {
    margin: 20px;
    display: flex;
    justify-content: center;
    }

.home__logo {
    display: flex;
    justify-content: center;
    }

.home__img {
    width: 50%;
    }

.container-grageas {
    border: 4px solid black;
    margin: 5rem;
    border-radius: 5px;
    font-family: 'MedievalSharp', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdd8a;
    &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    }

.grageaimg:hover{
    color: red;
}