.spells {
    margin: 1rem;
    background-color: #F0EBE3;
}

.card-body-spells {
    font-family: 'MedievalSharp', cursive;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #ffdd8a;
}

.card-title-spells {
    color: red;
    -webkit-text-stroke: 1px black;
    font-size: xx-large;
}

.card-text-spells {
    font-size: x-large;
}